ANTHROPIC_API_KEY=
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
SUI_GRPC_URL=fullnode.testnet.sui.io:443
ORONYX_PACKAGE_ID=0x5ee5b401f1a2568ca7904b28f44494308c6b956aafb36e4c2759e7ffe47d2115
ORONYX_EXECUTOR_URL=http://executor:4000
ORONYX_LLM_MODEL=claude-haiku-4-5-20251001
